/* header */
#header {
    background-color: burlywood;
    display: flex;
    /* we'll want to adjust below */
    flex-direction: row;
    gap: 20%;
    /* items to be adjusted above */
}


/* main body */
#masterBox {
    display: flex;
    justify-content: center;
}
#littleCards {
    width:50%;
    height: 90%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

#previewCardContainer {
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    flex-grow: 1; 
}
#bigCard {
    width: 40%;
    flex-grow: 1;
}

/* Below here is preview cards */
.previewCard {
    background-color: rgb(88, 188, 88);
    height:200px;
    width: 150px;
    border-radius: 20%;
}

#previewImage {
    width: 80%;
    position: relative;
    justify-content: center
    ;
}

.previewName {
    color: blue;
    justify-content: center;
}

/* BigCard styling */
#bigCard {
    background-color: rgb(88, 188, 88);
    height: 50%;
    display: flex-wrap;
    border-radius: 20%;
}

.bigInfo {
    background-color: darkkhaki;
    border-radius: 20%;
    width: min-content;
    height: min-content;
    justify-content: center;
}

.bigName {

}


