/* whole page styles */
body {
    font-family: 'Quicksand', 'Borel', 'Pangolin', sans-serif
}


/* header */
#header {
    background-color: burlywood;
    display: flex;
    /* we'll want to adjust below */
    flex-direction: row;
    gap: 20%;
    /* items to be adjusted above */
}


/* main body */
#masterBox {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#littleCards {
    display: flex;
    width: 50%;
    height: 90%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

#previewCardContainer {
    background-color: #266854;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    flex-grow: 1.5;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

/* Below here is preview cards */
ul {
    list-style: none;
    padding-left: 0;
}

.previewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(88, 188, 88);
    height: 200px;
    width: 150px;
    border-radius: 10%;
}

.previewIcon {
    display: block;
    width: 80%;
    position: relative;
    margin: 0;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 5px;
}

.previewName {
    color: black;
    font-size: 20px;
    margin: 0;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #F5F5F5;
    background-color: #F5F5F5;
    padding: 0px 20px;
}

/* BigCard styling */
#bigCard {
    background-color: rgb(88, 188, 88);
    width: 40%;
    flex-grow: 1;
    height: 1%;
    display: block;
    border-radius: 10px;
}

.bigInfo {
    background-color: darkkhaki;
    border-radius: 20%;
    width: min-content;
    height: min-content;
}

.bigCardImage {
    border-radius: 50%;
}

/*Filter Bar Styling*/

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c0c0c0}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

/*End Filter Bar Styling*/