/* whole page styles */
body {
    font-family: 'Quicksand', 'Borel', 'Pangolin', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* header */
#header {
    /* flex-grow: 1; */
    background-color: #D4C2AD;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    /* we'll want to adjust these styles below */
    /* figure out height of header bar */
    flex-direction: row;
    /* gap: 20%; */
    /* items to be adjusted above */
}



/* main body */
#masterBox {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 60%;
}

#littleCards {
    display: flex;
    /* width: 70%; */
    height: 100%;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#previewCardContainer {
    background-color: #D7A184;
    justify-content: center;
    height: fit-content;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    flex-grow: 1.5;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.previewCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D7A184;
    height: 200px;
    width: 150px;
    border-radius: 10%;
}

.previewCard:hover {
    cursor: pointer;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 400ms;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(3deg);
    }
    
    25% {
        -webkit-transform: rotate(-3deg);
    }
    
    50% {
        -webkit-transform: rotate(3deg);
    }
    
    75% {
        -webkit-transform: rotate(-3deg);
    }
    
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(3deg);
    }
    
    25% {
        ms-transform: rotate(-3deg);
    }
    
    50% {
        ms-transform: rotate(3deg);
    }
    
    75% {
        -ms-transform: rotate(-3deg);
    }
    
    100% {
        -ms-transform: rotate(0deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }
    
    25% {
        transform: rotate(-3deg);
    }
    
    50% {
        transform: rotate(3deg);
    }
    
    75% {
        transform: rotate(-3deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
}

.previewIcon {
    display: block;
    width: 80%;
    margin: 0;
    background-color: #EFDFCC;
    border-radius: 50%;
    padding: 5px;
}

.previewName {
    color: black;
    font-size: 20px;
    margin: 0;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #EFDFCC;
    background-color: #EFDFCC;
    padding: 0px 20px;
}

/* BigCard styling */
#bigCard {
    background-color: #66796B;
    flex-grow: 1;
    height: 100%;
    min-width: 400px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bigName {
    margin: 0;
    padding: 10px;
    font-size: 50px;
}

.bigInfo {
    background-color: #EFDFCC;
    font-size: 20px;
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #EFDFCC;
    padding: 0px 20px;
}

.bigCardImage {
    border-radius: 20px;
    height: 256px;
    width: 256px;
}

.bigId {
    display: none;
}

/*Filter Bar Styling*/

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    min-width: 230px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    max-width: fit-content;
    min-width: 230px;
    max-height: fit-content;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
#speciesFilter {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow :auto;
    max-width: fit-content;
    min-width: 230px;
    height: 190px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

#speciesFilter a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #c0c0c0
}
#speciesFilter a:hover {
    background-color: #c0c0c0
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #speciesFilter {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*End Filter Bar Styling*/

/* Favorite Bar Styling */
#footer {
    /* flex-grow: 1; */
    background-color: #D4C2AD;
    border-radius: 10px;
    margin-top: 10px;
    min-height: 10%;
}

#dream-village-title {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding-top: 5px;
}

#favoriteCardContainer {
    display: flex;
    /* margin-top: 10px;
    gap: 10px;
    padding: 10px;
    align-items: center; */
}

.favoriteCard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 20px;
    /* border-style: solid;
    border-color: #D7A184; */
    align-items: center;
}

.favoriteCardName {
    font-size: 20px;
    margin: 0;
    padding: 5px;
}

.favoriteCardImg {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding-bottom: 5px;
}